.layout-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.flashcard-container {
  perspective: 1000px;
  width: 100%;
  min-height: 600px;
}

.flashcard {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard.flipped {
  transform: rotateX(180deg);
}

.flashcard-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
}

.flashcard-back {
  transform: rotateX(180deg);
}

.carousel-control-prev, .carousel-control-next {
  visibility: hidden;
}

.carousel-indicators button {
  background-color: rgba(168, 168, 168, 1) !important
}

.carousel-indicators button.active {
  background-color: gray !important
}

@media (min-width: 992px) {
  .layout-grid {
    grid-template-columns: 250px 1fr;
  }

  .sidebar {
    height: 100%;
    min-height: 100vh;
  }

  #chatbot {
    height: 100vh;
  }

  #chatbot-box {
    min-height: 0;
  }
}

@media (max-width: 991px) {
  #summary-output {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #flashcard-button-container {
    flex-direction: column;
  }

  /* Removes the top height of sidebar */
  #chatbot {
    height: calc(100vh - 217px);
  }

  #chatbot-box {
    min-height: 0;
  }
}

@media (max-width: 767px) {
  .carousel-body-text {
    display: none;
  }
}